.jeeva{
  height: 500px;
  text-align: center;
  background-color: powderblue;
}
#mountain{

  height: 50%;
  text-align: center;
  display: block;
  padding-left: 43%;

}
}
body{
  text-align:center;
  font-family: "Babas Neue";
  text-shadow: ;
}
span{
  color: green;
}
#h{
  display: block;



}
#de{
  display: inline;
  text-align: right;

  t
}
#cloude{
  display: block;
   text-align: center;
}
